/TheFFM.v.bak
/lcbCombiner.v.bak
/lcbFull.v.bak
/Astra.asm.rpt
/Astra.done
/Astra.eda.rpt
/Astra.fit.rpt
/Astra.flow.rpt
/Astra.map.rpt
/Astra.map.smsg
/Astra.tan.rpt
/Astra_nativelink_simulation.rpt
/serv_req_info.txt
*.qws
*.v.bak
**/db/*
**/incremental_db/*
**/simulation/*
**/greybox_tmp/*
*.kpt
*.ddb


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
